  <div id="undevoured">
    <h2> Eat A Burger! </h2>
    <p>Click DEVOUR! to eat!</p>
    {{#each burgers}}
    {{#unless devoured}}
    <form action="/api/burgers/{{this.id}}" method="PUT">
    <p> {{this.burger_name}}</p>
      <button type="submit">DEVOUR</button>
    </form>
    {{/unless}}
    {{/each}}
   </div>

  <div id="devoured">
   <h2> Burgers You've Eaten! </h2>
    {{#each burgers}}
     {{#if devoured}}
      <button>{{this.burger_name}}</button>
    {{/if}}
    {{/each}}
  </div>


</div>